backend:
  name: git-gateway
  branch: main 

media_folder: "public/uploads"
public_folder: "/uploads"

collections:
  - name: "posts"
    label: "Yazılar"
    folder: "content/posts"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Başlık", name: "title", widget: "string" }
      - { label: "Tarih", name: "date", widget: "datetime" }
      - { label: "İçerik", name: "body", widget: "markdown" }
